.wrapper {
  margin-top: 5rem;
  border-radius: 0 2rem 0 2rem;
}

.styled__button {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #003d3b !important;
  border: 1px solid #003d3b !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff !important;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff !important;
}

.styled__button:hover {
  border: 1px solid white ;
}

.styled__button:active {
  -webkit-box-shadow: 4px 4px 12px #003d3b, -4px -4px 12px #ffffff !important;
  box-shadow: 4px 4px 12px #003d3b, -4px -4px 12px #ffffff !important;
}
