  #card:hover{
    border:rgb(0, 128, 0) 0.2em solid;
    cursor: pointer;   
}

#card #bttn .btn-light {
    opacity: 0;
}

#card:hover #bttn .btn-light {
    opacity: 1;
    margin: 2px;
}
.btn-outline-success{
    color: green;
}
.card-img-top{
    width:100%;
    height:auto;
  }
