.ProductListContainer {
  display: flex;
}

.ProductList {
  flex: 4;
  width: 100%;
  height: 100vh;
}
.productListItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.productListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}
.productListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}
.productListDelete {
  color: red;
  cursor: pointer;
}
