/* breadcrumbs */
.bcItem a {
  text-decoration: none;
  border-radius: 100%;
  background-color: green;
  padding: 3px;
}
.bcItem {
  text-decoration: none;
  border-radius: 20px;
  background-color: green;
  padding: 6px;
  color: white;
}

/* card */
.cardsGrid {
}
.storeCard {
  box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.1);
  border: 3px solid black;
  border-radius: 20px !important;
  overflow: hidden;
}
.storeCard:hover {
  transform: scale(1.05) translateZ(0);
  transition: all 0.2s ease-in-out;
  border: 0 !important;
  box-shadow: 4px 8px 16px #bfbfbf, -4px -8px 16px #ffffff;
}
.background {
  filter: brightness(1);
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}
.storeCard:hover .background {
  transform: scale(1.015) translateZ(0);
}

.storeCard:not(:hover) .background {
  filter: brightness(0.8) blur(0.5px);
}

.cardTitle {
  font-size: larger;
  background-color: green;
  color: #fff;
}
