html{
    scroll-padding-top: 3.5rem
}

.App {
    overflow-x: hidden;
    
        text-align: center;
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      
      
}
